.detail {
    width: 80%;
    margin: 90px auto;
}
.detail_container {
    width: 60%;
    margin: 0 auto;
}
.detail_container h4{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-lightblue);
    margin-bottom: 5px;
}
.detail_container h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-darkblue);
    margin-bottom: 5px;
}
.detail_container p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--color-darkblue);
    margin-bottom: 7px;
}
.detail_learn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8px;
    cursor: pointer;
}
.detail_learn h4 {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--color-lightblue);
}
.detail_learn .icon {
    color: var(--color-darkblue);
}
.images_container{
    display: flex;
    flex-direction: column;
}
.images {
    width: 100%;
    height: 256px;
}
.border{
    display: flex;
}
.border1{
    width: 350px;
    background-color: var(--color-lightblue);
    height: 8px;
}
.border2{
    width: 550px;
    background-color: var(--color-darkblue);
    height: 8px;
}
.border3{
    width: 350px;
    background-color: var(--color-blue);
    height: 8px;
}