.navBar {
    width: 100%;
    background-color: var(--color-darkblue)!important; 
    position: fixed;
    top: 55px;
    left: 0;
    right:0;
    z-index: 2
}

.navBar_container {
    width: 80%;
    height: 55px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}
.nav-icon {
    display: none;
    cursor: pointer;
}

.navBar_header {
    display: flex;
}
.navBar_header ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row
}

.navBar_header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-white);
    cursor: pointer;
}
.navBar_header ul li:first-child{
    margin-left: 0;
}
.navBar-detail{
    display: flex;
}
.navBar_icon{
    width: 94%;
    height: 26px;
    margin-right: 20px;
    color: var(--color-white)
}
.button{
    background-color: var(--color-lightblue);
    color: var(--color-darkblue);
    padding: 15px;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 390px) {
    .navBar {
        position: relative;
    }
    .nav-icon {
        display: block;
    }
    .navBar_header {
        display: none;
    }
    .navMobile {
            flex-direction: column;    
            position: absolute;
            right: 0;
            top: 55px;
            width: 100%; 
            height: 450px;
            background-color: var(--color-darkblue);
            opacity: 0.9;
            padding: 33px 56px;
            z-index: 200;
    }
    .navMobile ul li {
        text-align: center;
        flex-direction: column; 
        list-style: none;
        color: var(--color-lightblue);
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 550px) {
    .navBar {
        position: relative;
    }
    .nav-icon {
        display: block;
    }
    .navBar_header {
        display: none;
    }
    .navMobile {
            flex-direction: column;    
            position: absolute;
            right: 0;
            top: 55px;
            width: 100%; 
            height: 450px;
            background-color: var(--color-darkblue);
            opacity: 0.9;
            padding: 33px 56px;
            z-index: 200;
    }
    .navMobile ul li {
        text-align: center;
        flex-direction: column; 
        list-style: none;
        color: var(--color-lightblue);
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 880px) {
    .navBar {
        position: relative;
    }
    .nav-icon {
        display: block;
    }
    .navBar_header {
        display: none;
    }
    .navMobile {
            flex-direction: column;    
            position: absolute;
            right: 0;
            top: 55px;
            width: 100%; 
            height: 450px;
            background-color: var(--color-darkblue);
            opacity: 0.9;
            padding: 33px 56px;
            z-index: 200;
    }
    .navMobile ul li {
        text-align: center;
        flex-direction: column; 
        list-style: none;
        color: var(--color-lightblue);
        font-size: 1.4rem;
    }
}